/* all variable will store in the variable.css  */
@import url("./variable.css");

/* all global css will store in the global css */
@import url("./global.css");

/* all the scoped css will store here in this file. */

/* ================== nav bar ============ */
#header_area {
  background-color: var(--background-color);
}

#header_area .main-menu {
  width: 80%;
  display: flex;
  margin: 0 auto;
  padding: 20px 0;
}

#header_area .main-menu .nav-content .logo .logo-text {
  font-size: 30px;
  font-family: var(--poppins);
  color: var(--primary-color);
  font-weight: bold;
}

#header_area .main-menu {
  display: flex;
  justify-content: space-between;
}

#header_area .main-menu .nav-content {
  display: flex;
}

#header_area .main-menu .nav-content .nav-links {
  margin: 0.7rem 7rem;
}

#header_area .main-menu .nav-content .nav-links .nav-link {
  color: var(--secondary-color);
  font-family: var(--poppins);
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  transition: color 6s ease;
}

#header_area .main-menu .nav-content .nav-links .nav-link + .nav-link {
  margin-left: 2rem;
}

#header_area .main-menu .nav-buttons {
  margin: 1rem 5rem;
}

#header_area .main-menu .nav-buttons a {
  text-decoration: none;
  font-family: var(--poppins);
  font-size: 14px;
  font-weight: 500;
  margin: 5px;
  color: var(--primary-color);
}

/* ====================end nav bar==============  */

/* ================ main area start=============== */

/* ============info section=========== */
#main-area .intro-section {
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
}

#main-area .intro-section .info-section {
  width: 80%;
  display: flex;
}

#main-area .intro-section .info-section .text-area {
  font: normal 500 14px/21px var(--poppins);
  padding: 100px 200px 0 0;
}

#main-area .intro-section .info-section .text-area .welcome-text {
  font: normal 400 20px/21px var(--poppins);
  color: #687690;
}

#main-area .intro-section .info-section .text-area > h1 {
  margin-top: 10px;
  font: normal 800 80px/90px var(--poppins);
  color: var(--primary-color);
}

#main-area .intro-section .info-section .text-area .intro-paragraph {
  font: normal 400 20px/30px var(--poppins);
  color: var(--secondary-color);
  margin-top: 40px;
  margin-bottom: 40px;
  width: 700px;
}

#main-area .intro-section .info-section .image-area {
  margin-bottom: -4px;
  padding-right: 30px;
}

/* ============end info section=========== */

/* ================== client area =============== */
#main-area .client-area {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

#main-area .client-area .info-area {
  width: 80%;
}

#main-area .client-area .info-area .top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#main-area .client-area .info-area .top-row .left-side > h2 {
  color: var(--primary-color);
  font: normal 600 30px var(--poppins);
}
#main-area .client-area .info-area .top-row p {
  margin-top: 10px;
  color: #7d8589;
  font: normal 500 15px var(--poppins);
}

#main-area .client-area .info-area .top-row .right-side .star {
  text-align: right;
}
#main-area .client-area .info-area .top-row .right-side .star i {
  color: #ffca56;
}

#main-area .client-area .info-area .down-row .company-logo {
  padding: 0 5%;
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}
#main-area .client-area .info-area .down-row .company-logo img {
  height: 30px;
  padding: 25px 40px;
  border-radius: 10px;
  transition: box-shadow 0.6s ease;
}
#main-area .client-area .info-area .down-row .company-logo img:hover {
  background: white;
  box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
/* ================== done client area =============== */

/* =================== start guide area ============= */
#main-area .work {
  text-align: center;
  margin-bottom: 50px;
}
#main-area .work .bar {
  margin: 100px auto 10px;
  width: 50px;
  height: 5px;
  background-color: var(--primary-color);
  border-radius: 5px;
}

#main-area .work > h2 {
  margin: 10px 0;
  font: normal 600 35px var(--poppins);
}
#main-area .work > p {
  color: #5a6473;
  font: normal 400 17px var(--poppins);
  width: 500px;
  margin: 20px auto;
}
#main-area .work > .guide {
  margin: 50px auto;
  width: 650px;
  display: flex;
  justify-content: space-between;
}
#main-area .work .guide .item img {
  margin: 20px;
}
#main-area .work .guide .item h3 {
  font: normal 500 20px var(--poppins);
}

#main-area .work .guide .item a {
  text-decoration: none;
  font: normal 400 16px var(--poppins);
  color: #0689ff;
}
/* =================== end guide area ============= */

/* =========================== featured area ============ */

#main-area .featured {
  background-color: #f5fafe;
}
#main-area .featured .full-featured-area {
  width: 80%;
  margin: 100px auto;
  padding: 100px 0;
}
#main-area .featured .full-featured-area .all-properties {
  display: flex;
  justify-content: space-between;
  margin: 70px 0;
}

#main-area .featured .featured-text {
  font: normal 600 40px var(--poppins);
  color: #000339;
}

#main-area .featured .description {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

#main-area .featured .description > p {
  font: normal 400 20px var(--poppins);
  color: #5a6473;
  word-spacing: 2px;
}

#main-area .featured .description > a {
  color: #0689ff;
  text-decoration: none;
  font: normal 600 20px var(--poppins);
}

#main-area .featured .show-section {
  display: flex;
  flex-direction: column;
  width: 400px;
}

#main-area .featured .show-section .property-row-section {
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
}
#main-area .featured .show-section .property-row-section > h3 {
  font: normal 600 20px var(--poppins);
}

#main-area .featured .show-section .property-row-section > p {
  font: normal 400 15px var(--poppins);
  color: #a3a6ab;
  margin: 10px 0;
}

#main-area .featured .show-section .property-row-section > .info {
  display: flex;
  justify-content: space-between;
  width: 310px;
}

#main-area .featured .show-section .property-row-section > .info p {
  font: normal 500 15px var(--poppins);
  color: #444444;
}
#main-area .featured .show-section .property-row-section > .info .icons {
  padding-right: 5px;
  color: #0689ff;
}
#main-area .neighborhood {
  width: 80%;
  margin: 0 auto;
}
#main-area .neighborhood .found {
  display: flex;
  margin: 20px 0;
}
#main-area .neighborhood .found img {
  margin-left: 100px;
}
#main-area .neighborhood .found .message .simple-bar {
  margin-top: 200px;
  margin-bottom: 20px;
  width: 40px;
  height: 3px;
  background-color: #000339;
  border-radius: 5px;
}

#main-area .neighborhood .found .message .main-title {
  font: normal 700 35px var(--poppins);
  width: 39%;
}

#main-area .neighborhood .found .message .main-paragraph {
  font: normal 400 15px var(--poppins);
  width: 360px;
  color: #5a6473;
}

#main-area .neighborhood .sell-count > .all-counter {
  display: flex;
  width: 80%;
  margin: -130px auto;
  justify-content: space-between;
}

#main-area .neighborhood .sell-count > .all-counter .single-count > h1 {
  font: normal 700 50px var(--poppins);
}
#main-area .neighborhood .sell-count > .all-counter .single-count > p {
  font: normal 400 15px var(--poppins);
  color: #7b8087;
}
/* =========================== featured area ============ */

/* ================ main area end ==================================================== */
