/* importing font from google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

:root {
  --primary-color: #000336;
  --secondary-color: #5a6473;
  --link-color: #0689ff;
  --background-color: #e6f0ff;
  --poppins: "Poppins", sans-serif;
}
